@import "bourbon/bourbon";
@import "mixins";
@import "reset";
// @import "main";
// @import "global";
// @import "pages";
@import "shame";

body{
	font-family: 'Open Sans', sans-serif;
	.container{
		max-width:1440px;
		margin: 0 auto;
		padding:0 20px;
		position: relative;
		}

	header{
		background-image: url("../images/header-bg.jpg");
		background-size: cover;
		height: 27.83%;
		position: relative;
		&:after{
			content: " ";
			z-index: 10;
			display: block;
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.5);
		}
		
		nav{
			display: inline-block;
			position: relative;
			z-index:12;
			padding-top: 2.714%;
			width:100%;
			img{
				padding-left: 7.071%;
				padding-right: 14.286%;
			}
			li{
				display: inline-block;
				position: relative;
				padding-left: 1.429%;
				z-index:12;
				a{
				text-decoration: none;
				color:white;
				font-family: 'Open Sans', sans-serif;
				font-size:1.6rem;
				position: relative;
				z-index:12;
				}
			}

			button{
				background: rgba(0,0,0,0.3);
				font-family: 'Open Sans', sans-serif;
				font-size:1.2rem;
				text-transform: uppercase;
				border: 1px solid white;
				border-radius: 2px;
				color: white;
				position: relative;
				z-index:12;
				margin-left: 1.5%;
				padding: 0.5% 1%;
				@include transition;
			}
			button:hover{
				background: white;
				color:$dark-grey;
			}
		}
		h1{
			font-family: 'Open Sans', sans-serif;
			font-weight: lighter;
			font-size: 5.6rem;
			color: white;
			text-align: center;
			margin: 0 auto;
			position: relative;
			z-index:12;
			padding-bottom: 9.642%;
			padding-top: 4.9%;
		}
		header:after{
			content: " ";
			z-index: 10;
			display: block;
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.6);
		}
	}
	main{
		padding-left:9.02%;
		aside{
			float: right;
			width:31.944%;
			text-align:center;
			color: $dark-grey;
			padding-top: 7.143%;
			h6{
				font-size:1.6rem;
				font-weight: bold;
				padding-top: 10%;
				padding-bottom: 3%;
			}
			p{
				font-size: 1.6rem;
			}
			.address{
				padding-bottom: 10%;
				border-bottom: 1px solid $input-bg;
			}
			.support{
				padding-top: 10%;
			}
		}
		#form{
			width: 68.056%;
			
			h1{
				font-size:4.5rem;
				color:black;
				font-weight:lighter;
				padding-bottom: 3.15%;
				padding-top: 7.143%;
			}
			ul{
				padding-bottom: 7.143%;
				li{
					list-style: none;
					float: left;
					display: block;
					width:100%;
					padding-bottom:3.151%;
				}
			}
			label{
				font-size: 1.4rem;
				color: $darker-grey;
				width:100%;
				display: block;
				padding-bottom: 9px;
			}
			input{
				background:$input-bg;
				width:100%;
				display:block;
				height:46px;
				outline:none;
				border-radius:2px;
				border:none;
				font-size: 1.6rem;
				padding-left: 2.5%;
				border:1px solid #e5e5e5;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05) inset;
				@include transition;
			}
			input:focus{
				background: white;
				// box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05) inset;
				border:1px solid #e5e5e5;
			}
			button{
				background:white;
				border: 2px solid $blue;
				color:$blue;
				text-transform: uppercase;
				border-radius: 5px;
				width:50%;
				font-size: 1.8rem;
				padding: 1.5% 0;
				@include transition;
			}
			button:hover{
					background:$blue;
					color:white;
				}
			textarea{
				outline:none;
				resize:vertical;
				width:96%;
				background: $input-bg;
				border:1px solid #e5e5e5;
				font-size: 1.6rem;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05) inset;
				@include transition;
			}
			textarea:focus{
				background: white;
				border:1px solid #e5e5e5;
			}
			.first-name{
				width:48%;
			}
			.last-name{
				width:48%;
				padding-left:2%;
			}
			.email{
				width:96%;
				padding-bottom: 5.714%;
			}
			.specify{
				width:35%;
				position: relative;
				select{
					-webkit-appearance: none;
					width:100%;
					height:46px;
					background: $input-bg;
					font-size: 1.4rem;
					border:none;
					padding-left: 5%;
					position: relative;
					outline: none;
					border-radius: 2px;
					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05) inset;
					border:1px solid #e5e5e5;
					color: $dark-grey;
					@include transition
				}
				select:focus{
					background: white;

				}			
				div:before{
						position: absolute;
						z-index: 1;
						content: '';
						top: 35px;
						right: 11px;
						width: 0;
						height: 0;
						border-style: solid;
						pointer-events:none;
						border-width: 0 5px 8px 5px;
						border-color: transparent transparent #545454 transparent;
					}
				div:after{
					position: absolute;
					z-index: 1;
					pointer-events:none;
					content: '';
					top: 50px;
					right: 11px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 8px 5px 0 5px;
					border-color: #545454 transparent transparent transparent;
				}
				
			}
			.phone{
				width: 61%;
				padding-left: 2%;
			}
			.company{
				width: 96%;
			}
		}
	}
	footer{
		background:$footer-blue;
		#subfooter{
			background:$subfooter;
			text-align:center;
			margin: 0 auto;
			width: 100%;
			color:$footer-text;
			display: inline-block;
			height:9.357%;
			p{
				display: inline-block;
				font-size: 1.4rem;
				padding: 4.64% 0;
			}
			input{
				height:3.571%;
				font-size: 1.4rem;
				width:23%;
			}
			button{
				color:white;
				border:none;
				border-radius: 0px 3px 3px 0px;
				background-color:$blue;
				margin-left:-3px;
				margin-top:-1px;
			}
		}
		ul{
			display:inline-block;
			padding-left:9.02%;
			p{text-transform:uppercase; color:white;}
			li{
				color:$footer-text;
				list-style: none;
				a{
					text-decoration:none;
				}
			}
		}
	}
}	